
 h1{

  font-family: verdana;
  color:turquoise;
}

 h2{
  font-family: verdana;
  color:turquoise;
}

p{
 font-family: verdana;
}

body {
    background-color: url(http://interfacelift.com/wallpaper/previews/02686_blissfulparadise_672x420.jpg);
}


